<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteCounterWord" thread-count="1" parallel="methods">
	<test name="Test">
		<classes>
			<class name="com.lumu.automationTesting.CheckDensityWords" />
			<class name="com.lumu.automationTesting.CheckNumberOfCharacters" />
			<class name="com.lumu.automationTesting.CheckNumberOfWords" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- SuiteCounterWord -->